<?xml version="1.0" encoding="UTF-8"?>
<configuration status="warn" shutdownHook="disable">
    <appenders>
        <File name="bt-core" append="false" fileName="bt.log">
            <PatternLayout pattern="[%d{dd/MMM/yyyy:HH:mm:ss,SSS}] %-5p %c{1}: %m%n%ex"/>
        </File>
        <File name="bt-dht" append="false" fileName="bt-dht.log">
            <PatternLayout pattern="[%d{dd/MMM/yyyy:HH:mm:ss,SSS}] %-5p %c{1}: %m%n%ex"/>
        </File>
        <Async name="A1" bufferSize="1000">
            <appender-ref ref="bt-core"/>
        </Async>
        <Async name="A2" bufferSize="1000">
            <appender-ref ref="bt-dht"/>
        </Async>
    </appenders>

    <loggers>
        <logger name="STDOUT" level="trace" additivity="false">
            <appender-ref ref="A1"/>
        </logger>
        <logger name="STDERR" level="trace" additivity="false">
            <appender-ref ref="A1"/>
        </logger>

        <logger name="bt" level="info" additivity="false">
            <appender-ref ref="bt-core"/>
        </logger>
        <logger name="bt.dht" level="debug" additivity="false">
            <appender-ref ref="bt-dht"/>
        </logger>

        <root level="warn">
            <appender-ref ref="A1"/>
        </root>
    </loggers>
</configuration>
